.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header .logo-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.header .logo-text {
  font-family: 'LGEIHeadlineTTF-Bold';
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: white;
}

.header .logo-text .Hello {
  color: #D84C5F;
  font-size: 28px;
  margin-right: 3px;
}

.header nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.header nav li {
  font-size: 16px;
  cursor: pointer;
  color: #6B6B6B;
  transition: color 0.3s;
}

.header nav li:hover {
  color: #ccc;
  font-weight: bold;
  transform: scale(1.2);
}

.header .icon {
  width: 28px;
  height: 28px;
  color: #6B6B6B;
  cursor: pointer;
  transition: transform 0.3s, color 0.3s;
}

.header .icon:hover {
  transform: scale(1.2);
  color: #fff;
}

/* 활성화된 아이콘 (마이페이지) */
.header .icon.active {
  color: #ff69b4; /* 분홍색 */
  font-weight: bold;
  transform: scale(1.2); /* 강조 효과 */
}

.header .icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .Weather {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
  white-space: nowrap;
}
