.movie {
  position: relative;
  width: 260px;
  height: 255px;
  margin: 10px;
  overflow: visible; /* 범위 밖으로 확대 허용 */
}

.rank {
  position: absolute;
  font-family: 'LGEIHeadlineTTF-Bold';
  width: 95px;
  height: 72px;
  color: #fff;
  opacity: 90%;
  font-size: 70px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  bottom: 10px;
  left: 10px;
  margin: 0;
  padding: 0;
}

.movie-poster {
  width: 175px;
  height: 255px;
  border-radius: 10px;
  margin-left: 80px;
  transition: transform 0.3s ease, z-index 0.3s ease;
  right: 0;
}

.movie.hovered .movie-poster {
  transform: scale(1.2); /* 이미지 확대 */
}

.movie-hover {
  position: absolute;
  width: 350px;
  height: 300px;
  top: -30px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  border-radius: 10px;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.movie.hovered .movie-hover {
  opacity: 1;
}

.hover-poster {
  width: 100%;
  height: 200px;
  /* border-radius: 10px; */
  margin-bottom: 3px;
}

.movie-buttons {
  display: flex;
  gap: 10px;
}

.play-btn,
.info-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  background-color: #d84c5f;
  transition: background-color 0.3s ease;
}

.play-btn:hover,
.info-btn:hover {
  background-color: #a83847;
}