.watching {
  margin: 0;
  padding: 20px 0;
  background-color: #111;
  border-radius: 8px;
}

.title {
  color: white;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 1.5rem;
}

/* 슬라이더 */
.slider-container {
  position: relative;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 10px;
  cursor: grab; /* 기본 커서 */
  overflow-y: visible;
}

.slider-container.dragging {
  cursor: grabbing; /* 드래그 중 커서 */
}

.slider-container::-webkit-scrollbar {
  display: none; /* 스크롤바 숨김 */
}

.movie {
  position: relative;
  flex: 0 0 auto;
  width: 200px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.movie-poster {
  width: 80%;
  height: auto;
  border-radius: 10px;
}